@font-face {
    font-family:'AvenirNext';
    font-weight: 400;
    src: url('../../asset/font/Alternative files/AvenirNextLTPro.ttf') format('truetype');
}
@font-face {
    font-family:'AvenirNext';
    font-weight: 700;
    src: url('../../asset/font/Alternative files/AvenirNextLTProBold.ttf') format('truetype');
}
@font-face {
    font-family:'AvenirNext';
    font-weight: 600;
    src: url('../../asset/font/Alternative files/AvenirNextLTProDemi.ttf') format('truetype');
}

